*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand-color:#EF5F4C;
  --background-color:#FFFFFF;
  --surface-color:#d9d9d9;
  --shape-transparency:#ffffff90;
  --text-color-primary:#313131;
  --text-color-secundary:#6C6C6C;

  --font-family: "Poppins", "sans-serif";
  --text:16px/150% var(--font-family);
  --text-lg:bold 32px/125% var(--font-family) ;
  --text-md:14px/170% var(--font-family) ;
  --text-sm:12px/170% var(--font-family) ;
}

body{
  color: var(--text-color-secundary);
  background-color: var(--background-color);
}

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

